/* ======================== body ======================== */

body button {
    cursor: pointer;
}

/* ==================== back-to-top =================== */

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    text-align: center;
    z-index: 12;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    background-color: #333;
    color: #fff;
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

@media(max-width: 992px) {
    #back-to-top-btn {
        font-size: 22px;
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
}

@media(max-width:768px) {
    #back-to-top-btn {
        font-size: 18px;
        width: 32px;
        height: 32px;
        bottom: 6px;
        right: 6px;
    }
}

/* ====================== black-bg ====================== */

.black-bg {
    background: black;
    padding-top: 125px;
    padding-bottom: 120px;
    margin-top: 200px;
}

.black-bg h2 {
    font-size: 22px;
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
    color: white;
}

.black-bg h2 span {
    color: #f1ad1d;
}

.black-bg h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f1ad1d;
    margin: 50px auto 0;
}

@media(max-width: 991px) {

    /* LG */
    .black-bg {
        padding-top: 80px;
        padding-bottom: 70px;
        margin-top: 75px;
    }
}

/* ====================== caption ====================== */

.caption h2 {
    font-size: 22px;
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
    color: #333333;
    margin-top: 105px;
}

.caption p {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: #4d4943;
    margin: 25px 0 0;
}

.caption p::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f1ad1d;
    margin: 50px auto 60px;
}

@media(max-width: 767px) {

    /* MD */
    .caption h2 {
        margin-top: 85px;
    }

    .caption p::after {
        margin: 30px auto 60px;
    }
}

/* ====================== btn-gray ====================== */

.btn-gray {
    position: absolute;
    left: 13px;
    bottom: 11px;
    border: none;
    padding: 10px 20px;
    background: #333333;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: white;
    box-shadow: 0 0 30px black;
}

.btn-gray span {
    color: #f3cd7c;
}

.btn-gray:hover {
    background: black;
}

/* ==================================================== */
/* ====================== header ====================== */
/* ==================================================== */

header {
    min-height: 100vh;
    background: url('../images/header-bg.jpg') center;
    background-size: cover;
}

header .navbar {
    background: #272727
}

header .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 14px;
    color: white !important;
}

header .nav-item .nav-link:hover {
    transform: translateY(-3px);
    color: rgb(197, 128, 0) !important;
}

header .navbar-nav .book-table {
    max-width: 193px;
    height: 41px;
    border: 1px solid white;
    background: #fea100;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #fea100;
    color: white;
    font-size: 14px;
    font-family: 'Sintony Regular';
    padding: 0 10px;
}

header .navbar-nav .d-md-flex .dropdown::after {
    content: "3";
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-family: 'Sintony Regular';
    font-size: 11px;
    width: 15px;
    height: 15px;
    background: #fe4c8d;
    position: absolute;
    top: 0;
    right: 10px;
}

header .navbar-nav .dropdown:hover .fa-shopping-cart,
header .navbar-nav .dropdown:hover .dropdown-toggle::after {
    color: rgb(197, 128, 0);
}

header .collapse .fa-concierge-bell:hover {
    color: rgb(197, 128, 0) !important;
}

header section {
    padding: 441px 10px 90px 144px;
}

header section h1 {
    color: white;
    font-size: 48px;
    font-family: 'Montserrat Bold';
}

header section h5 {
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 24px
}

header section .header-p {
    border: 1px solid white;
    display: flex;
    align-items: center;
    width: max-content;
    height: 111px;
    padding-right: 20px;
}

header section .header-p p {
    line-height: 111px;
    color: white;
    font-size: 50px;
    font-family: 'Montserrat Bold';
    max-width: 800px;
    height: 111px;
    margin: 0 25px;
}

header section .header-p span {
    color: #f48e0b;
    background: white;
    line-height: 111px;
    font-size: 50px;
    font-weight: 700;
    width: 133px;
    text-align: center;
}

header section .blok {
    color: #ccc;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

header section .flip {
    height: 50px;
    overflow: hidden;
}

header section .flip>div>div {
    padding: 0px 12px;
    height: 58px;
    margin-bottom: 31px;
    display: inline-block;
}

header section .flip div:first-child {
    animation: show 5s linear infinite;
}

header section .flip div div {
    color: #f48e0b;
}

header section .flip div:first-child div {
    color: #38caff;
}

header section .flip div:last-child div {
    color: #17ee78;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

@media(max-width: 991px) {

    /* LG */
    header section {
        text-align: center;
        padding: 331px 0 90px 0;
    }

    header section h1 {
        font-size: 36px;
    }

    header section .header-p {
        height: 70px;
    }

    header section .header-p p {
        line-height: 70px;
        font-size: 35px;
        height: 70px;
        margin: 0 20px;
    }

    header section .header-p span {
        line-height: 70px;
        font-size: 35px;
        font-weight: 700;
        width: 90px;
    }

    header section .blok {
        font-size: 42px;
        margin-top: 140px;
    }

    header section .flip {
        height: 60px;
    }

    header section .flip div div {
        background: #42c58a;
        color: #fff;
    }

    header section .flip div:first-child div {
        background: #4ec7f3;
        color: #fff;
    }

    header section .flip div:last-child div {
        background: #DC143C;
        color: #fff;
    }
}

@media(max-width: 575px) {

    /* SM */
    header section {
        padding: 160px 0 90px 0;
    }

    header section .blok {
        margin-top: 100px;
    }
}

/* ======================================================= */
/* ====================== sec-about ====================== */
/* ======================================================= */

.sec-about .award h1 {
    font-size: 42px;
    font-family: 'Harbell';
    position: relative;
    margin: 11px 0 0 0;
}

.sec-about .award h1::before {
    content: "";
    display: block;
    width: 31px;
    height: 91px;
    background: url(../images/decoration_2.png);
    position: absolute;
    left: -35px;
    top: -20px;
}

.sec-about .award h1::after {
    content: "";
    display: block;
    width: 31px;
    height: 91px;
    background: url(../images/decoration_3.png);
    position: absolute;
    right: -35px;
    bottom: -20px;
}

.sec-about .award p {
    font-size: 20px;
    font-family: sans-serif;
    color: #636363;
}

.sec-about .award span {
    font-size: 36px;
    font-family: 'CloisterBlack';
}

.sec-about .about {
    margin-top: 63px
}

.sec-about .about .first .row:nth-of-type(2) {
    margin-top: 30px
}

.sec-about .about .first .row .box {
    height: 148px;
    border: 1px solid #878787;
    position: relative;
}

.sec-about .about .second h3 {
    font-size: 18px;
    color: #333333;
    font-family: 'Montserrat Bold';
    margin-bottom: 15px;
}

.sec-about .about .second h3 span {
    color: #f1ad1d;
}

.sec-about .about .second p {
    color: #505050;
    font-family: 'Lato';
    font-weight: 300;
    text-align: justify;
    font-size: 13.8px;
}

.sec-about .about .second p.p_2 {
    margin-bottom: 32px;
}

.sec-about .about .second a {
    color: black;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    border: 2px solid black;
    background: transparent;
    padding: 10px;
    text-decoration: none;
}

.sec-about .about .second a:hover {
    color: #ffffff;
    background: #f1ad1d;
    border-color: #f1ad1d;
    animation: none;
}

@media(min-width: 1199px) {

    /* XL */
    .sec-about .about .second p {
        font-size: 15.4px;
    }
}

@media(max-width: 991px) {

    /* LG */
    .sec-about .about .second {
        text-align: center;
        text-align-last: center;
    }

    .sec-about .about .second h3 {
        margin-top: 40px;
        font-size: 22px;
    }

    .sec-about .about .second p {
        font-size: 16px;
    }

    .sec-about .about .second p.p_1 {
        margin-bottom: 50px;
    }

    .sec-about .about .second a {
        animation: offer 1s linear infinite;
    }

    @keyframes offer {
        from {
            box-shadow: 0 0 0 0px #f1ae1d40,
                0 0 0 10px #f1ae1d40,
                0 0 0 20px #f1ae1d40;
        }

        to {
            box-shadow: 0 0 0 10px #f1ae1d40,
                0 0 0 20px #f1ae1d40,
                0 0 0 30px #f1ae1d00;
        }
    }
}

@media(max-width: 575px) {

    /* SM */
    .sec-about .about .first .row:nth-of-type(2) {
        margin-top: 0;
    }

    .sec-about .about .first .row .box {
        margin: 10px;
        height: 168px;
    }
}

/* ======================================================== */
/* ====================== sec-secret ====================== */
/* ======================================================== */

.sec-secret .team .col-lg-2 {
    padding-right: 2px;
    padding-left: 2px;
}

.sec-secret .team .col-lg-2 img {
    width: 100%;
    height: 215px;
    object-fit: cover;
}

.sec-secret .team .col-lg-2 .btn-gray {
    position: relative;
    width: 80%;
    padding: 7px;
    left: 10%;
    box-shadow: 0 2px 5px black;
}

.sec-secret .offer .box {
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}

.sec-secret .offer .box h3 {
    font-size: 18px;
    font-family: 'Montserrat Bold';
    background: #333333;
    color: white;
    padding: 15px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-secret .offer .box h3 span {
    color: #f1ad1d;
    margin: 0 16px 0 8px;
}

.sec-secret .offer .box p {
    font-size: 14px;
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 16px;
    margin: 28px 0 20px;
    padding: 0 15px;
}

.sec-secret .offer .box p::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f1ad1d;
    margin: 25px auto 0;
}

.sec-secret .offer .box h4 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #505050;
}

.sec-secret .offer .box h5 {
    font-size: 14px;
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

@media(max-width: 767px) {

    /* MD */
    .sec-secret .offer .box h3 {
        padding: 10px;
        margin-bottom: 0;
    }
}

@media(max-width: 575px) {

    /* SM */
    .sec-secret .offer .box {
        border-bottom: none;
        padding-bottom: 10px;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to bottom, rgb(17, 17, 17), rgba(0, 0, 0, 0)) 1 100%;
        border-top: none;
    }
}

/* ======================================================= */
/* ====================== sec-trust ====================== */
/* ======================================================= */

.sec-trust .tabs a {
    border-radius: 0 !important;
    border: 1px solid black;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 11px 38px;
    font-size: 14px;
    margin: 0 8px;
}

.sec-trust .tabs a.active {
    background: #333333;
    color: #f1ad1d;
}

.sec-trust .works .col-lg-3 {
    padding: 5px;
}

.sec-trust .works .flip-box {
    background-color: transparent;
    width: 100%;
    height: 267px;
    perspective: 1000px;
}

.sec-trust .works .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.sec-trust .works .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.sec-trust .works .flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.sec-trust .works .flip-box-front {
    background-color: #bbb;
    color: black;
}

.sec-trust .works .flip-box-front img {
    object-fit: cover;
}

.sec-trust .works .flip-box-back {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    border: 1px solid black;
}

.sec-trust .works .flip-box-back h6 {
    color: #111111;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 40px;
}

.sec-trust .works .flip-box-back h6::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f1ad1d;
    margin: 22px auto;
}

.sec-trust .works .flip-box-back p {
    color: #5b5b5b;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 0 10px;
    margin-bottom: 30px;
}

.sec-trust .works .flip-box-back a {
    color: #fff;
    background: #f1ad1d;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 12px 36px;
}

.sec-trust .works .flip-box-back a:hover {
    color: black;
}

.sec-trust .works .lessBtn {
    display: none;
}

.sec-trust .works .hide {
    display: none;
}

.sec-trust .works .moreBtn .fa-chevron-circle-down {
    color: green;
    font-size: 180px;
    margin: auto;
    height: 267px;
    animation: arrowGreen 1.5s linear infinite;
}

.sec-trust .works .lessBtn .fa-chevron-circle-left {
    color: red;
    font-size: 140px;
    margin: auto;
    height: 267px;
    animation: arrowRed 1.5s linear infinite;
}

.sec-trust .works .moreBtn .more-btn {
    border-radius: 4px;
    background: linear-gradient(to right, rgb(109, 255, 116), #00aeff);
    border: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px;
    transition: all 0.4s;
}

.sec-trust .works .moreBtn .more-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.sec-trust .works .moreBtn .more-btn span::after {
    content: '\21f2';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.sec-trust .works .moreBtn .more-btn:hover span {
    padding-right: 25px;
}

.sec-trust .works .moreBtn .more-btn:hover span::after {
    opacity: 1;
    right: 0;
}

.sec-trust .works .lessBtn .less-btn {
    border-radius: 4px;
    background: linear-gradient(to right, rgb(177, 126, 126), #358d81);
    border: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px;
    transition: all 0.4s;
}

.sec-trust .works .lessBtn .less-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.sec-trust .works .lessBtn .less-btn span::after {
    content: '\21f1';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.sec-trust .works .lessBtn .less-btn:hover span {
    padding-right: 25px;
}

.sec-trust .works .lessBtn .less-btn:hover span::after {
    opacity: 1;
    right: 0;
}

@keyframes arrowGreen {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes arrowRed {
    0% {
        transform: translateX(-20px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(-20px);
    }
}

.sec-trust .clients .fa-quote-left {
    font-size: 48px;
    color: #f1ad1d;
}

.sec-trust .clients img {
    object-fit: cover;
    width: 56px;
    height: 44px;
}

.sec-trust .clients p {
    font-size: 14px;
    color: #5b5b5b;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.sec-trust .clients p::before {
    content: '';
    display: block;
    height: 3px;
    width: 81%;
    background: #f1ad1d;
    transform: translate(65px, -15px);
}

.sec-trust .clients p::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: #000;
    margin: 25px 0 15px;
}

.sec-trust .clients h6 {
    font-size: 14px;
    color: #313131;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0;
}

.sec-trust .clients span {
    font-size: 14px;
    color: #5b5b5b;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.sec-trust .carousel .carousel-inner .carousel-item {
    background: #f1ad1d;
}

.sec-trust .carousel .carousel-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%
}

.sec-trust .carousel .carousel-item h6 {
    font-size: 20px;
    margin: 10px 0 0;
    font-family: 'Montserrat Bold';
}

.sec-trust .carousel .carousel-item span {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Montserrat Regular';
    border-bottom: 3px solid rgba(255, 255, 255, 0.466);
}

.sec-trust .carousel .carousel-item p {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.sec-trust .black-bg p {
    color: white;
    margin-top: 55px;
}

.sec-trust .black-bg p::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background: white;
    margin: auto;
    margin-top: 40px;
}

.sec-trust .black-bg span {
    color: #f1ad1d;
}

@media(max-width: 1199px) {

    /* XL */
    .sec-trust .clients p::before {
        width: 78%;
    }
}

@media(max-width: 991px) {

    /* LG */
    .sec-trust .tabs a {
        padding: 8px 15px;
    }

    .sec-trust .clients p::before {
        width: 81%;
        transform: translate(40px, -15px)
    }

    .sec-trust .clients .fa-quote-left {
        font-size: 32px;
    }
}

@media(max-width: 767px) {

    /* MD */
    .sec-trust .tabs a {
        margin: 0;
        border-left: none;
    }

    .sec-trust .tabs a:first-child {
        border-left: 1px solid black
    }

    .sec-trust .works .moreBtn .fa-chevron-circle-down {
        font-size: 50px;
    }

    .sec-trust .works .moreBtn .fa-chevron-circle-up {
        font-size: 30px;
    }
}

@media(max-width: 575px) {

    /* SM */
    .sec-trust .tabs a {
        width: 100% !important;
        font-size: 20px;
    }
}

/* ======================================================= */
/* ====================== sec-goods ====================== */
/* ======================================================= */

.sec-goods .products .item img {
    width: 100%;
    object-fit: cover;
}

.sec-goods .products .item .fa-pencil {
    font-size: 32px;
    color: #f1ad1d;
    background: #333;
    padding: 10px;
}

.sec-goods .products .item h3 {
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat Bold';
    margin: 0 0 0 7px;
}

.sec-goods .products .item video[poster] {
    width: 100%;
    object-fit: cover;
}

.sec-goods .products .item p {
    font-size: 14px;
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.sec-goods .products .item .date {
    color: #828282;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 3px solid #333;
    padding: 12px 0;
}

.sec-goods .products .item .date a {
    color: #828282;
}

.sec-goods .products .load-more {
    color: #fff;
    background: #f1ad1d;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 14px 80px;
}

.sec-goods .products .load-more:hover {
    color: black;
}

.sec-goods .black-bg a {
    color: white;
    border: 1px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 55px;
    margin-top: 57px;
}

.sec-goods .black-bg a:hover {
    background: white;
    color: black;
}

@media(max-width: 1199px) {

    /* XL */
    .sec-goods .products .item h3 {
        font-size: 17px;
    }
}

/* ======================================================= */
/* ===================== sec-contact ===================== */
/* ======================================================= */

.sec-contact .caption .input-group .form-control {
    border-radius: 0;
    padding: 0 30px;
    height: auto;
}

.sec-contact .caption .input-group .form-control::placeholder {
    font-style: italic;
    font-size: 18px;
    color: #747474;
}

.sec-contact .caption .input-group button {
    background: #f1ad1d;
    border: none;
    border-radius: 0;
    padding: 20px 45px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.sec-contact .caption .input-group button:active {
    background: #f1ad1d;
}


.sec-contact .contact h3 {
    font-family: 'Montserrat Bold';
    font-size: 18px;
    background: #333;
    color: #fff;
    padding: 15px;
    max-width: 66%;
}

.sec-contact .contact h3 span {
    color: #f1ad1d;
}

.sec-contact .contact p {
    font-size: 14px;
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.sec-contact .contact form .form-control {
    border-radius: 1px;
}

.sec-contact .contact form .form-control::placeholder {
    font-size: 14px;
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.sec-contact .contact form button {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background: #f1ad1d;
    border: none;
    border-radius: 0;
    padding: 10px 38px;
}

.sec-contact .contact .get-in-touch .fa-facebook-f:hover {
    background: #4267B2 !important;
}

.sec-contact .contact .get-in-touch .fa-twitter:hover {
    background: #38A1F3 !important;
}

.sec-contact .contact .get-in-touch .fa-google-plus-g:hover {
    background: #dd4b39 !important;
}

.sec-contact .contact .get-in-touch .fa-wifi:hover {
    background: #00ccff !important;
}

@media(max-width: 767px) {

    /* MD */
    .sec-contact .caption .input-group button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .sec-contact .caption .input-group .form-control {
        padding: 0 10px;
    }
}

@media(max-width: 575px) {

    /* SM */
    .sec-contact .contact h3 {
        max-width: 100%;
        text-align: center;
    }

    .sec-contact .contact p {
        text-align: center;
    }

    .sec-contact .caption .input-group button {
        padding: 5px 10px;
        font-size: 14px;
    }

    .sec-contact .caption .input-group .form-control::placeholder {
        font-size: 14px;
    }

    .sec-contact .caption .input-group .form-control {
        font-size: 14px;
    }
}

/* ==================================================== */
/* ====================== footer ====================== */
/* ==================================================== */

footer {
    background: #333;
}

footer a {
    font-family: 'Montserrat Bold';
    font-size: 18px;
    color: #fff;
}

footer a span {
    color: #f1ad1d;
}

footer a:hover {
    color: #fff;
}